.registerDesign {

    height: 88vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    height: 1em;
    color: red;
}